@page
@model Student_Mgmt_ASP_Core.Pages.Courses.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].course_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].start_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].end_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].course_duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Course) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.course_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.course_duration)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.course_ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.course_ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.course_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
